@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.description-section {
  font-family: 'Roboto', sans-serif !important;
  font-size: 18px;
  color: #4a5c60;
}


*,:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box}
hr{border:0;border-top:1px solid #eceeee}
.po-color-01{background-color:#0c9abe;fill:#0c9abe}
.po-color-02{background-color:#2c85c8;fill:#2c85c8}
.po-color-03{background-color:#2c43c8;fill:#2c43c8}
.po-color-04{background-color:#5843c8;fill:#5843c8}
.po-color-05{background-color:#ab43c8;fill:#ab43c8}
.po-color-06{background-color:#ab4391;fill:#ab4391}
.po-color-07{background-color:#c64840;fill:#c64840}
.po-color-08{background-color:#ea9b3e;fill:#ea9b3e}
.po-color-09{background-color:#abc249;fill:#abc249}
.po-color-10{background-color:#56b96b;fill:#56b96b}
.po-color-11{background-color:#00b28e;fill:#00b28e}
.po-color-12{background-color:#06a6a5;fill:#06a6a5}
.po-text-color-01{color:#0c9abe!important}
.po-text-color-02{color:#2c85c8!important}
.po-text-color-03{color:#2c43c8!important}
.po-text-color-04{color:#5843c8!important}
.po-text-color-05{color:#ab43c8!important}
.po-text-color-06{color:#ab4391!important}
.po-text-color-07{color:#c64840!important}
.po-text-color-08{color:#ea9b3e!important}
.po-text-color-09{color:#abc249!important}
.po-text-color-10{color:#56b96b!important}
.po-text-color-11{color:#00b28e!important}
.po-text-color-12{color:#06a6a5!important}
.po-border-color-01{border-color:#0c9abe;stroke:#0c9abe}
.po-border-color-02{border-color:#2c85c8;stroke:#2c85c8}
.po-border-color-03{border-color:#2c43c8;stroke:#2c43c8}
.po-border-color-04{border-color:#5843c8;stroke:#5843c8}
.po-border-color-05{border-color:#ab43c8;stroke:#ab43c8}
.po-border-color-06{border-color:#ab4391;stroke:#ab4391}
.po-border-color-07{border-color:#c64840;stroke:#c64840}
.po-border-color-08{border-color:#ea9b3e;stroke:#ea9b3e}
.po-border-color-09{border-color:#abc249;stroke:#abc249}
.po-border-color-10{border-color:#56b96b;stroke:#56b96b}
.po-border-color-11{border-color:#00b28e;stroke:#00b28e}
.po-border-color-12{border-color:#06a6a5;stroke:#06a6a5}
.po-color-primary-light-95{background-color:#f3fafc}
.po-color-primary-light-80{background-color:#ceeaf2}
.po-color-primary-alpha-50{background-color:rgba(12,154,190,.5)}
.po-color-primary{background-color:#0c9abe}
.po-color-primary-dark-20{background-color:#097b98}
.po-color-primary-dark-40{background-color:#075c72}
.po-color-secondary{background-color:#0d729c}
.po-color-secondary-dark-60-alpha-70{background-color:rgba(5,45,62,.7)}
.po-color-secondary-dark-60{background-color:#052d3e}
.po-color-tertiary-light-90{background-color:#eaf7f9}
.po-color-tertiary{background-color:#29b6c5}
.po-color-white{background-color:#fff}
.po-color-white-alpha-30{background-color:hsla(0,0%,100%,.3)}
.po-color-neutral-light-98{background-color:#fbfbfb}
.po-color-neutral-light-90{background-color:#eceeee}
.po-color-neutral-light-80{background-color:#dadedf}
.po-color-neutral-light-60{background-color:#b6bdbf}
.po-color-neutral-light-40{background-color:#9da7a9}
.po-color-neutral-alpha-45{background-color:rgba(74,92,96,.45)}
.po-color-neutral{background-color:#4a5c60}
.po-color-neutral-dark-40{background-color:#2c3739}
.po-color-neutral-dark-60{background-color:#1d2426}
.po-color-black-alpha-10{background-color:rgba(0,0,0,.1)}
.po-color-black-alpha-15{background-color:rgba(0,0,0,.15)}
.po-color-black-alpha-30{background-color:rgba(0,0,0,.3)}
.po-color-black{background-color:#000}
.po-color-success{background-color:#00b28e}
.po-color-warning{background-color:#ea9b3e}
.po-color-danger{background-color:#c64840}
.po-color-transparent{background-color:transparent}
.po-text-color-primary-light-95{color:#f3fafc!important}
.po-text-color-primary-light-80{color:#ceeaf2!important}
.po-text-color-primary-alpha-50{color:rgba(12,154,190,.5)!important}
.po-text-color-primary{color:#0c9abe!important}
.po-text-color-primary-dark-20{color:#097b98!important}
.po-text-color-primary-dark-40{color:#075c72!important}
.po-text-color-secondary{color:#0d729c!important}
.po-text-color-secondary-dark-20{color:#0a5b7c!important}
.po-text-color-secondary-dark-40{color:#07445d!important}
.po-text-color-secondary-dark-60-alpha-70{color:rgba(5,45,62,.7)!important}
.po-text-color-secondary-dark-60{color:#052d3e!important}
.po-text-color-tertiary-light-90{color:#eaf7f9!important}
.po-text-color-tertiary{color:#29b6c5!important}
.po-text-color-tertiary-dark-5{color:#26acba!important}
.po-text-color-tertiary-dark-40{color:#186d76!important}
.po-text-color-tertiary-dark-60{color:#10484e!important}
.po-text-color-white{color:#fff!important}
.po-text-color-white-alpha-30{color:hsla(0,0%,100%,.3)!important}
.po-text-color-neutral-light-98{color:#fbfbfb!important}
.po-text-color-neutral-light-90{color:#eceeee!important}
.po-text-color-neutral-light-80{color:#dadedf!important}
.po-text-color-neutral-light-60{color:#b6bdbf!important}
.po-text-color-neutral-light-40{color:#9da7a9!important}
.po-text-color-neutral-alpha-45{color:rgba(74,92,96,.45)!important}
.po-text-color-neutral{color:#4a5c60!important}
.po-text-color-neutral-dark-40{color:#2c3739!important}
.po-text-color-neutral-dark-60{color:#1d2426!important}
.po-text-color-black-alpha-10{color:rgba(0,0,0,.1)!important}
.po-text-color-black-alpha-15{color:rgba(0,0,0,.15)!important}
.po-text-color-black-alpha-30{color:rgba(0,0,0,.3)!important}
.po-text-color-black{color:#000!important}
.po-text-color-success{color:#00b28e!important}
.po-text-color-warning{color:#ea9b3e!important}
.po-text-color-danger-light-40{color:#dc918c!important}
.po-text-color-danger{color:#c64840!important}
.po-text-color-danger-dark-5{color:#bb443c!important}
.po-text-color-danger-dark-20{color:#9e3933!important}
.po-text-color-danger-dark-40{color:#762b26!important}
.po-text-color-transparent{color:transparent!important}
.po-wrapper,.po-wrapper-menu-panel{background-color:#fff}
.po-overlay-absolute{border-radius:3px}
.po-overlay-absolute,.po-overlay-fixed{background-color:rgba(5,45,62,.7)}
.po-font-display,.po-font-title{font-family:NunitoSans-ExtraLight,sans-serif}
.po-shadow-avatar{-webkit-box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1);box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1)}
.po-shadow-modal{-webkit-box-shadow:0 4px 16px 0 rgba(0,0,0,.3);box-shadow:0 4px 16px 0 rgba(0,0,0,.3)}
.po-shadow-button{-webkit-box-shadow:0 4px 8px 0 rgba(0,0,0,.15);box-shadow:0 4px 8px 0 rgba(0,0,0,.15)}
.po-shadow-header{-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,.3);box-shadow:0 1px 2px 0 rgba(0,0,0,.3)}
.po-shadow-card,.po-shadow-container{-webkit-box-shadow:0 1px 4px 0 rgba(0,0,0,.3);box-shadow:0 1px 4px 0 rgba(0,0,0,.3)}
.po-shadow-feedback{-webkit-box-shadow:0 -4px 8px 0 rgba(0,0,0,.15);box-shadow:0 -4px 8px 0 rgba(0,0,0,.15)}
.po-shadow-tooltip{-webkit-box-shadow:0 4px 8px 0 rgba(0,0,0,.15);box-shadow:0 4px 8px 0 rgba(0,0,0,.15)}
.po-shadow-input{-webkit-box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1);box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1)}
.po-shadow-popup{-webkit-box-shadow:0 1px 4px 0 rgba(0,0,0,.3);box-shadow:0 1px 4px 0 rgba(0,0,0,.3)}
.po-shadow-popup-arrow{-webkit-box-shadow:-1px -1px 1px 0 rgba(0,0,0,.1);box-shadow:-1px -1px 1px 0 rgba(0,0,0,.1)}
.po-accordion-item-body{color:#4a5c60}
.po-accordion-item:not(:first-child) .po-accordion-item-header{border-top:1px solid #eceeee}
.po-accordion-item-header-button,.po-accordion-item-header-icon{color:#0c9abe}
.po-accordion-item-header:hover .po-accordion-item-header-button,.po-accordion-item-header:hover .po-accordion-item-header-icon{color:#0d729c}
.po-accordion-item-header-button{background-color:transparent;border:none}
.po-accordion-item-header-button:focus:before{border-radius:1px;border:2px dashed #0d729c;-webkit-box-sizing:border-box;box-sizing:border-box}
.po-accordion-item-header-button::-moz-focus-inner{border:0}
.po-accordion-item-header-icon{-webkit-transition:all .3s cubic-bezier(.07,.88,.58,.92);-o-transition:all .3s cubic-bezier(.07,.88,.58,.92);transition:all .3s cubic-bezier(.07,.88,.58,.92)}
.po-avatar{border-radius:150px;-webkit-box-shadow:inset 0px 1px 8px 2px rgb(0 0 0 / 20%);box-shadow:inset 0px 1px 8px 2px rgb(0 0 0 / 20%)}
.po-avatar-default-icon{color:#4a5c60}
.po-badge{border-radius:3px;color:#fff}
.po-breadcrumb{background-color:#fff;border:1px solid #eceeee;border-radius:3px}
.po-breadcrumb-arrow{border-right:1px solid #eceeee;border-top:1px solid #eceeee;-webkit-transform:rotate(39deg) skew(10deg,28deg);-ms-transform:rotate(39deg) skew(10deg,28deg);transform:rotate(39deg) skew(10deg,28deg)}
.po-breadcrumb-item .po-breadcrumb-label{color:#0c9abe}
.po-breadcrumb-item .po-breadcrumb-label:hover{color:#075c72}
.po-breadcrumb-favorite{background-color:#fff;border-left:1px solid #eceeee}
.po-breadcrumb-favorite-star-active{color:#ea9b3e}
.po-breadcrumb-favorite,.po-breadcrumb-item-unclickable{color:#4a5c60}
.po-breadcrumb-dropdown{background-color:#fff;-webkit-box-shadow:0 1px 4px 0 rgba(0,0,0,.3);box-shadow:0 1px 4px 0 rgba(0,0,0,.3)}
.po-breadcrumb-dropdown-item{color:#0c9abe}
.po-breadcrumb-dropdown-item:hover{background-color:#f3fafc}
.po-breadcrumb-icon-more{color:#0c9abe}
.po-button{border:1px solid #0c9abe;border-radius:3px;color:#0c9abe}
.po-button,.po-button:hover{background-color:transparent}
.po-button:hover{border:1px solid #097b98;color:#097b98}
.po-button:active{background-color:transparent;border:1px solid #075c72;color:#075c72}
.po-button:disabled{background-color:transparent;border:1px solid #b6bdbf;color:#b6bdbf}
.po-button-primary{-webkit-box-shadow:0 4px 8px 0 rgba(0,0,0,.15);box-shadow:0 4px 8px 0 rgba(0,0,0,.15);background-color:#0c9abe;border:1px solid #0c9abe;color:#fff}
.po-button-primary:hover{background-color:#097b98;border:1px solid #097b98;color:#fff}
.po-button-primary:active{background-color:#075c72;border:1px solid #075c72;color:#fff}
.po-button-primary:disabled{background-color:#b6bdbf;border:1px solid #b6bdbf;color:#fff}
.po-button-danger{background-color:transparent;border:1px solid #c64840;color:#c64840}
.po-button-danger:hover{background-color:transparent;border:1px solid #9e3933;color:#9e3933}
.po-button-danger:active{background-color:transparent;border:1px solid #762b26;color:#762b26}
.po-button-danger:disabled{background-color:transparent;border:1px solid #b6bdbf;color:#b6bdbf}
.po-button-link{color:#0c9abe}
.po-button-link,.po-button-link:hover{background-color:transparent;border:none}
.po-button-link:hover{color:#097b98}
.po-button-link:active{background-color:transparent;border:none;color:#075c72}
.po-button-link:disabled{background-color:transparent;border:none;color:#b6bdbf}
@media print{.po-button{-webkit-print-color-adjust:exact;color-adjust:exact}}
.po-button-group-container .po-button-group .po-button{border-radius:0}
.po-button-group-container .po-button-group:first-child .po-button{border-bottom-left-radius:3px;border-top-left-radius:3px}
.po-button-group-container .po-button-group:last-child .po-button{border-bottom-right-radius:3px;border-top-right-radius:3px}
.po-button-group-container .po-button-group.po-button-group-button-selected .po-button{background-color:#4a5c60;border:1px solid #4a5c60;color:#fff}
.po-button-group-container .po-button-group.po-button-group-button-selected:hover .po-button{background-color:#2c3739;border:1px solid #2c3739;color:#fff}
.po-button-group-container .po-button-group.po-button-group-button-selected .po-button:active{background-color:#1d2426;border:1px solid #1d2426;color:#fff}
.po-button-group-container .po-button-group.po-button-group-button-selected .po-button:disabled{background-color:#b6bdbf;border:1px solid #b6bdbf;color:#fff}
.po-calendar{background-color:#fff;border-radius:3px;-webkit-box-shadow:0 1px 4px 0 rgba(0,0,0,.3);box-shadow:0 1px 4px 0 rgba(0,0,0,.3)}
.po-calendar-range{background-color:#fff;border-radius:3px;-webkit-box-shadow:0 1px 4px 0 rgba(0,0,0,.3);box-shadow:0 1px 4px 0 rgba(0,0,0,.3)}
.po-calendar-range po-calendar-wrapper+po-calendar-wrapper .po-calendar-wrapper{border-left:1px solid #eceeee}
.po-calendar-header .po-calendar-header-left,.po-calendar-header .po-calendar-header-right{color:#0c9abe}
.po-calendar-header .po-calendar-header-title{color:#0c9abe}
.po-calendar-content .po-calendar-label{color:#9da7a9}
.po-calendar-content .po-calendar-day{border-radius:3px}
.po-calendar-content .po-calendar-month,.po-calendar-content .po-calendar-year{border-radius:3px}
.po-calendar-content .po-calendar-box-background{background-color:transparent}
.po-calendar-content .po-calendar-box-background:hover{background-color:#dadedf}
.po-calendar-content .po-calendar-box-background:active{background-color:#29b6c5;color:#fff}
.po-calendar-content .po-calendar-box-background-hover,.po-calendar-content .po-calendar-box-background-in-range{border-radius:0}
.po-calendar-content .po-calendar-box-background-selected{background-color:#29b6c5}
.po-calendar-content .po-calendar-box-background-selected-disabled{background-color:#b6bdbf}
.po-calendar-content .po-calendar-box-background-today-disabled{background-color:var(--color-calendar-background-color-box-background-today)}
.po-calendar-content .po-calendar-box-background-today-disabled:hover{background-color:#dadedf}
.po-calendar-content .po-calendar-box-background-today:hover{background-color:#dadedf}
.po-calendar-content .po-calendar-box-foreground{color:#4a5c60}
.po-calendar-content .po-calendar-box-foreground-selected{color:#fff}
.po-calendar-content .po-calendar-box-foreground-selected-disabled{color:#dadedf}
.po-calendar-content .po-calendar-box-foreground-in-range{background-color:#ceeaf2;color:#0c9abe}
.po-calendar-content .po-calendar-box-foreground-in-range-disabled{background-color:#b6bdbf;color:#dadedf}
.po-calendar-content .po-calendar-box-foreground-today{border:1px solid #0c9abe;color:#0c9abe}
.po-calendar-content .po-calendar-box-foreground-today-disabled{border:1px solid #dadedf}
.po-calendar-content .po-calendar-box-foreground-disabled,.po-calendar-content .po-calendar-box-foreground-today-disabled{color:#dadedf}
.po-calendar-content .po-calendar-box-foreground-hover{background-color:#dadedf;color:#4a5c60}
.po-calendar-box-foreground-today,.po-calendar-box-foreground-today-disabled{border-radius:3px}
.po-calendar-footer .po-calendar-footer-today .po-calendar-footer-today-button{border:none;color:#0c9abe}
.po-calendar-footer .po-calendar-footer-today .po-calendar-footer-today-button:disabled{color:#b6bdbf}
.po-container{border-radius:3px;-webkit-box-shadow:0 1px 4px 0 rgba(0,0,0,.3);box-shadow:0 1px 4px 0 rgba(0,0,0,.3)}
.po-container-no-shadow{border:1px solid #eceeee}
.po-container-no-border{border:none}
.po-container::-webkit-scrollbar-thumb{background-color:#0c9abe;border-radius:10px}
.po-chart-wrapper{background:#fff;-webkit-box-shadow:0 1px 4px 0 rgba(0,0,0,.3);box-shadow:0 1px 4px 0 rgba(0,0,0,.3)}
.po-chart-legend-container::-webkit-scrollbar-thumb{background-color:rgba(12,154,190,.5);border-radius:2px}
.po-chart-legend-square{border-radius:2px}
.po-chart-legend-text{color:#4a5c60}
.po-chart-axis-path{stroke:#dadedf}
.po-chart-axis-x-label,.po-chart-axis-y-label{color:#1d2426}
.po-chart-line-point{fill:#fff}
.po-chart-gauge-base-path{fill:#dadedf}
.po-chart-gauge-text-description{color:#4a5c60}
.po-chart-gauge-text-content:focus{outline:2px dashed #0d729c}
.po-disclaimer .po-disclaimer-label,.po-disclaimer .po-disclaimer-remove{color:#fff}
.po-disclaimer .po-disclaimer-label{background-color:#29b6c5;border-radius:3px}
.po-disclaimer .po-disclaimer-label-danger{background-color:#c64840;color:#fff}
.po-disclaimer .po-disclaimer-remove{background-color:#26acba;border-bottom-right-radius:3px;border-top-right-radius:3px}
.po-disclaimer .po-disclaimer-remove-danger{background-color:#bb443c;color:#fff}
@media print{.po-disclaimer-label,.po-disclaimer-remove{-webkit-print-color-adjust:exact;color-adjust:exact}}
.po-disclaimer-group{background-color:#fff;border:1px solid #eceeee;border-radius:3px}
.po-disclaimer-group-title{color:#4a5c60}
.po-divider-label{color:#29b6c5}
.po-divider{border:0;border-bottom:1px solid #eceeee}
.po-dropdown-button{background-color:transparent;border:1px solid #0c9abe;border-radius:3px;color:#0c9abe}
.po-dropdown-button:hover{border:1px solid #097b98;color:#097b98}
.po-dropdown-button-disabled{border:1px solid #b6bdbf;color:#b6bdbf}
.po-checkbox-input{border-radius:2px;-webkit-box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1);box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1)}
.po-checkbox-input+.po-checkbox-label:before{background-color:#fff;border:1px solid #b6bdbf;border-radius:2px;-webkit-box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1);box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1)}
.po-checkbox-input-checked+.po-checkbox-label:before,.po-checkbox-input-indeterminate+.po-checkbox-label:before{background-color:#0c9abe;border:1px solid #0c9abe;color:#fff}
po-checkbox.ng-invalid.ng-dirty .po-checkbox-input+.po-checkbox-label:before{border:1px solid #c64840}
.po-checkbox-input:disabled+.po-checkbox-label:before{background-color:#eceeee;border:1px solid #b6bdbf!important;color:#b6bdbf}
.po-checkbox-label:focus:before{-webkit-box-shadow:inset 0 0 0 1px #097b98;box-shadow:inset 0 0 0 1px #097b98}
.po-checkbox-group-input{border-radius:2px;-webkit-box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1);box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1)}
.po-checkbox-group-input+.po-checkbox-group-label:before{background-color:#fff;border:1px solid #b6bdbf;border-radius:2px;-webkit-box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1);box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1)}
.po-checkbox-group-input-checked+.po-checkbox-group-label:before,.po-checkbox-group-input-indeterminate+.po-checkbox-group-label:before{background-color:#0c9abe;border:1px solid #0c9abe;color:#fff}
po-checkbox-group.ng-invalid.ng-dirty .po-checkbox-group-input+.po-checkbox-group-label:before{border:1px solid #c64840}
.po-checkbox-group-input:disabled+.po-checkbox-group-label:before{background-color:#eceeee;border:1px solid #b6bdbf!important;color:#b6bdbf}
.po-checkbox-group-label:focus:before{-webkit-box-shadow:inset 0 0 0 1px #097b98;box-shadow:inset 0 0 0 1px #097b98}
po-combo.ng-invalid.ng-dirty .po-input{border:1px solid #c64840!important}
.po-combo-container{background-color:#fff;border-radius:3px;-webkit-box-shadow:0 1px 4px 0 rgba(0,0,0,.3);box-shadow:0 1px 4px 0 rgba(0,0,0,.3)}
.po-combo-container-content{border-radius:3px}
.po-combo-item-title{background:#fbfbfb;color:#1d2426}
.po-combo-item{color:#0c9abe}
.po-combo-item:hover{background-color:#f3fafc!important;color:#0c9abe!important}
.po-combo-item-selected>.po-combo-item{background-color:#0c9abe59;color:#fff}
.po-combo-container-content::-webkit-scrollbar-thumb{background-color:rgba(12,154,190,.5);border-radius:2px}
.po-datepicker-calendar-overlay{background-color:rgba(5,45,62,.7)}
.po-datepicker-range-field-disabled{background-color:#eceeee!important;border:1px solid #b6bdbf;color:#b6bdbf}
.po-datepicker-range-field-focused{border:1px solid #0c9abe!important}
.po-datepicker-range-input{background-color:transparent;border:none;color:inherit}
po-datepicker-range.ng-invalid.ng-dirty .po-field-icon{color:#c64840!important}
po-datepicker-range.ng-invalid.ng-dirty .po-input{border:1px solid #c64840!important;color:#c64840}
.po-field-title{color:#4a5c60}
.po-field-optional{color:#4a5c60}
.po-field-help{color:#4a5c60}
.po-field-container-bottom{color:#c64840}
.po-field-icon{color:#0c9abe}
.po-field-icon-disabled{color:#b6bdbf}
po-combo.ng-invalid.ng-dirty .po-field-icon,po-datepicker.ng-invalid.ng-dirty .po-field-icon,po-decimal.ng-invalid.ng-dirty .po-field-icon,po-email.ng-invalid.ng-dirty .po-field-icon,po-input.ng-invalid.ng-dirty .po-field-icon,po-login.ng-invalid.ng-dirty .po-field-icon,po-lookup.ng-invalid.ng-dirty .po-field-icon,po-multiselect.ng-invalid.ng-dirty .po-field-icon,po-number.ng-invalid.ng-dirty .po-field-icon,po-password.ng-invalid.ng-dirty .po-field-icon,po-select.ng-invalid.ng-dirty .po-field-icon,po-url.ng-invalid.ng-dirty .po-field-icon{color:#c64840!important}
.po-input{background-color:#fff;border:1px solid #b6bdbf;border-radius:3px;-webkit-box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1);box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1)}
.po-input::-webkit-input-placeholder{color:#9da7a9}
.po-input::-moz-placeholder{color:#9da7a9}
.po-input:-ms-input-placeholder{color:#9da7a9}
.po-input::-ms-input-placeholder{color:#9da7a9}
.po-input::placeholder{color:#9da7a9}
.po-input:disabled{background-color:#eceeee;border:1px solid #b6bdbf;color:#b6bdbf}
.ng-valid .po-input:focus{border:1px solid #0c9abe!important}
po-combo.ng-invalid.ng-dirty .po-input,po-datepicker.ng-invalid.ng-dirty .po-input,po-decimal.ng-invalid.ng-dirty .po-input,po-email.ng-invalid.ng-dirty .po-input,po-input.ng-invalid.ng-dirty .po-input,po-login.ng-invalid.ng-dirty .po-input,po-lookup.ng-invalid.ng-dirty .po-input,po-multiselect.ng-invalid.ng-dirty .po-multiselect-input,po-number.ng-invalid.ng-dirty .po-input,po-password.ng-invalid.ng-dirty .po-input,po-select.ng-invalid.ng-dirty .po-select-button,po-textarea.ng-invalid.ng-dirty .po-textarea,po-upload.ng-invalid.ng-dirty .po-upload-button button,po-url.ng-invalid.ng-dirty .po-input{border:1px solid #c64840!important;color:#c64840}
.po-lookup-advanced-search-link{color:#0c9abe}
.po-multiselect-container{background-color:#fff;border-radius:3px;-webkit-box-shadow:0 1px 4px 0 rgba(0,0,0,.3);box-shadow:0 1px 4px 0 rgba(0,0,0,.3)}
.po-multiselect-input:focus,.po-multiselect-input:hover,.po-multiselect-search-input:focus{border:1px solid #0c9abe}
.po-multiselect-input{color:#0c9abe}
.po-multiselect-items-container::-webkit-scrollbar-thumb{background-color:rgba(12,154,190,.5);border-radius:2px}
.po-multiselect-item{color:#0c9abe}
.po-multiselect-item:hover{background-color:#f3fafc!important;color:#0c9abe!important}
.po-multiselect-item-selected>.po-multiselect-item{background-color:#f3fafc}
.po-field-container-content.po-multiselect-show .po-multiselect-container{background-color:#fff!important}
.po-field-container-content.po-multiselect-loading>.po-input{border:1px solid #0c9abe!important}
.po-multiselect-input-disabled{background-color:#eceeee;border:1px solid #b6bdbf;color:#b6bdbf}
.po-multiselect-input-disabled .po-disclaimer-label{background-color:#b6bdbf;color:#0c9abe}
.po-multiselect-checkbox-input{border-radius:2px;-webkit-box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1);box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1)}
.po-multiselect-checkbox-input+.po-multiselect-checkbox-label:before{background-color:#fff;border:1px solid #b6bdbf;border-radius:2px;-webkit-box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1);box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1)}
.po-multiselect-checkbox-input-checked+.po-multiselect-checkbox-label:before,.po-multiselect-checkbox-input-indeterminate+.po-multiselect-checkbox-label:before{background-color:#0c9abe;border:1px solid #0c9abe;color:#fff}
.po-multiselect-checkbox-item-disabled .po-multiselect-checkbox-input+.po-multiselect-checkbox-label:before{background-color:#eceeee;border:1px solid #b6bdbf;color:#b6bdbf}
.po-radio-group-input{background-color:transparent}
.po-radio-group-input+.po-radio-group-label:before{background-color:#fff;-webkit-box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1);box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1);border:1px solid #b6bdbf;border-radius:50%}
.po-radio-group-input:focus+.po-radio-group-label:before{border:1px solid #097b98!important}
.po-radio-group-input-checked+.po-radio-group-label:before{background-color:#0c9abe;border:1px solid #0c9abe;color:#fff}
.po-radio-group-input:disabled+.po-radio-group-label:before{background-color:#eceeee;border:1px solid #b6bdbf!important;color:#b6bdbf}
po-radio-group.ng-invalid.ng-dirty .po-radio-group-input+.po-radio-group-label:before{border:1px solid #c64840}
.po-rich-text-body{background-color:#fff;border:1px solid #b6bdbf;border-radius:3px 3px 0 0;-webkit-box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1);box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1)}
.po-rich-text-link{color:var(--color-rich-text-body-text-link)}
.po-rich-text-link:hover{color:var(--color-rich-text-body-text-link-hover)}
.po-rich-text-body font .po-rich-text-link{color:inherit!important}
.po-rich-text-body::-webkit-scrollbar-thumb{background-color:rgba(12,154,190,.5);border-radius:2px}
po-rich-text.ng-invalid.ng-dirty .po-rich-text-body{border:1px solid #c64840;color:#c64840}
div[data-placeholder]:not([data-placeholder=]):empty:before{color:#9da7a9}
.po-rich-text-toolbar{background-color:#fff;border-radius:0 0 3px 3px;border:1px solid #b6bdbf;border-top:none}
.po-rich-text-toolbar-color-picker-input{background-color:transparent;border:none}
.po-rich-text-toolbar-color-picker-input::-webkit-color-swatch{border:none}
.po-select{background-color:transparent;border:none}
.po-select-container.po-select-show>.po-select-button{border:1px solid #0c9abe}
.po-select-container.po-select-show>.po-select-content{background-color:#fff}
.po-select:focus+.po-select-container .po-select-button{border:1px solid #0c9abe;color:#0c9abe}
.po-select-button{background-color:#fff;border:1px solid #b6bdbf;border-radius:3px;-webkit-box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1);box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1);color:#0c9abe}
.po-select-button:hover{border:1px solid #0c9abe;color:#0c9abe}
.po-select-button-disabled{background-color:#eceeee;border:1px solid #b6bdbf;color:#b6bdbf}
.po-select-content{background-color:#fff;border-radius:3px;-webkit-box-shadow:0 1px 4px 0 rgba(0,0,0,.3);box-shadow:0 1px 4px 0 rgba(0,0,0,.3)}
.po-select-item{background-color:#fff;color:#0c9abe}
.po-select-item-selected .po-select-item{background-color:#0c9abe;color:#fff}
.po-select-item:hover{background-color:#f3fafc;color:#0c9abe}
.po-select-content::-webkit-scrollbar-thumb{background-color:rgba(12,154,190,.5);border-radius:2px}
.po-select-mobile{color:transparent}
.po-switch-container{border-radius:14px}
.po-switch-container-on{background-color:#0c9abe}
.po-switch-container-disabled,.po-switch-container-off{background-color:#dadedf}
.po-switch-container:focus{-webkit-box-shadow:inset 0 0 0 1px #097b98;box-shadow:inset 0 0 0 1px #097b98}
.po-switch-button{background-color:#fff;border-radius:50%}
.po-switch-button-disabled{background-color:#9da7a9}
.po-switch-button-on>.po-icon-ok{color:#0c9abe}
.po-switch-button-disabled>.po-icon-ok{color:#dadedf}
.po-switch-button-off>.po-icon-close{color:#dadedf}
.po-switch-button-disabled>.po-icon-close{color:#dadedf}
.po-switch-label{color:#4a5c60}
@media print{.po-switch-container{-webkit-print-color-adjust:exact;color-adjust:exact}}
.po-textarea{border:1px solid #b6bdbf!important;border-radius:3px;-webkit-box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1);box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1);background-color:#fff}
.po-textarea:disabled{background-color:#eceeee;border:1px solid #eceeee;color:#b6bdbf}
.ng-valid .po-textarea:focus{border:1px solid #0c9abe!important}
.po-textarea-label-error{color:#c64840}
.po-textarea::-webkit-scrollbar-thumb{background-color:#0c9abe;border-radius:2px}
.po-gauge-wrapper{background:#fff;-webkit-box-shadow:0 1px 4px 0 rgba(0,0,0,.3);box-shadow:0 1px 4px 0 rgba(0,0,0,.3)}
.po-gauge-description-text{color:#4a5c60}
.po-gauge-description-bottom:focus{outline:2px dashed #0d729c}
.po-gauge-base{fill:#dadedf}
.po-gauge-pointer,.po-gauge-pointer-circle{fill:#4a5c60}
.po-gauge-pointer{transition:transform .6s ease-out,-webkit-transform .6s ease-out}
.po-gauge-legend::-webkit-scrollbar-thumb{background-color:rgba(12,154,190,.5);border-radius:2px}
.po-gauge-legend-square{border-radius:2px}
.po-gauge-legend-text{color:#4a5c60}
.po-grid-cell-action-content{border:0 solid #eceeee}
.po-grid-cell-action-content:focus{border:none;outline:1px solid #0c9abe}
.po-grid-cell-content,.po-grid-cell-input{border:0 solid #eceeee}
.po-grid-cell-content:focus{border:none;outline:1px solid #0c9abe}
.po-grid-cell-required{border:1px dashed #c64840}
.po-grid-cell-input{border:1px solid #0c9abe;-webkit-box-shadow:0 0 4px 4px rgba(0,0,0,.1);box-shadow:0 0 4px 4px rgba(0,0,0,.1)}
.po-grid-head-content{border:none;border-right:1px solid #eceeee;border-bottom:2px solid #ceeaf2;color:#0c9abe}
.po-grid-head-content:focus{border:1px solid #0c9abe}
.po-grid-wrapper{border:1px solid #eceeee}
.po-grid{border-bottom:none;border-right:none}
.po-grid-cell-normal::-webkit-scrollbar,.po-grid-row-wrapper::-webkit-scrollbar{border-radius:2px}
.po-grid-cell-normal::-webkit-scrollbar-thumb,.po-grid-row-wrapper::-webkit-scrollbar-thumb{background-color:rgba(12,154,190,.5)}
.po-grid-cell,.po-grid-title{border:none}
.po-grid-cell-freeze{border-right:2px solid #ceeaf2}
.po-grid-cell-action{border-left:2px solid #ceeaf2;color:#2c43c8}
.po-grid-footer-wrapper{border:1px solid #eceeee;border-top:none}
.po-info-label{color:#4a5c60}
.po-info-value{color:#1d2426}
.po-info-link,.po-info-link:link,.po-info-link:visited{color:#0c9abe}
.po-info-link:hover{color:#097b98}
.po-info-link:active{color:#075c72}
.po-list-view{background-color:#fff;border:1px solid #eceeee;border-radius:3px}
.po-list-view-main-header{background-color:#fff;border:1px solid #eceeee;border-radius:3px}
.po-list-view-main-select{color:#4a5c60}
.po-list-view-main-content::-webkit-scrollbar-thumb{background-color:rgba(12,154,190,.5);border-radius:2px}
.po-list-view-title,.po-list-view-title-link{color:#0c9abe}
.po-list-view-title-link:hover{color:#097b98}
.po-list-view-detail-button{border-top:1px solid #eceeee}
.po-list-view-detail-button,.po-list-view-more-actions{color:#0c9abe}
.po-loading{-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.po-loading-label{color:#4a5c60}
.po-loading-icon .po-loading-icon-bar{background:#0c9abe;border-radius:50px}
.po-loading-icon-neutral-color .po-loading-icon-bar{background:#dadedf}
.po-loading-overlay-content{background-color:#fff;border-radius:3px;-webkit-box-shadow:0 1px 4px 0 rgba(0,0,0,.3);box-shadow:0 1px 4px 0 rgba(0,0,0,.3);-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.po-menu{background-color:#2c3739}
.po-menu-footer{border-top:1px solid rgba(74,92,96,.45)}
.po-menu-footer .po-menu-collapse-button-icon{color:#0c9abe}
.po-menu-collapse-button,.po-menu-item,.po-menu-item-no-data{border-top:1px solid rgba(74,92,96,.45);color:#0c9abe}
.po-menu-item,.po-menu-item-no-data{border-left:3px solid transparent}
.po-menu-item:hover{background-color:rgba(0,0,0,.15)}
.po-menu-item-selected,.po-menu-item-selected:hover{background-color:rgba(0,0,0,.3);border-left:3px solid #29b6c5!important;color:#fff;-webkit-transition:border-left .2s ease-in-out;-o-transition:border-left .2s ease-in-out;transition:border-left .2s ease-in-out}
.po-menu-item-grouper-up,.po-menu-item-grouper-up:hover,.po-menu-item-no-data{border-top:1px solid rgba(74,92,96,.45);color:#fff}
.po-menu-item-grouper-up,.po-menu-item-grouper-up:hover,.po-menu-sub-items{background-color:rgba(0,0,0,.15)}
.po-menu-sub-items{color:#0c9abe}
.po-menu-sub-items .po-menu-item-level-two{color:#0c9abe}
.po-menu-sub-items .po-menu-item-level-three{color:#0c9abe}
.po-menu-sub-items .po-menu-item-level-four{color:#0c9abe}
.po-menu-sub-item-selected{background-color:rgba(0,0,0,.3)!important;border-left:3px solid #29b6c5!important;color:#fff!important}
.po-menu-badge-alert,.po-menu-badge-alert-collapsed{border-radius:50%}
@media screen and (max-width:1200px){.po-menu-mobile{background-color:#fbfbfb;color:#0c9abe}
.po-menu-overlay{background-color:rgba(5,45,62,.7)}}
.po-collapsed-menu .po-menu .po-menu-icon-container{border-right:3px solid transparent}
.po-menu-filter-icon{color:#0c9abe}
.po-menu-filter{background-color:rgba(0,0,0,.3);border-radius:18px;border:1px solid rgba(74,92,96,.45);-webkit-box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1);box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1);color:#fff}
.po-menu-filter:focus{border:1px solid #4a5c60}
.po-menu-panel{background-color:#2c3739}
.po-menu-panel-logo{-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.po-menu-panel-item{border-top:1px solid rgba(74,92,96,.45);color:#0c9abe}
.po-menu-panel-item:hover{background-color:rgba(0,0,0,.15)}
.po-menu-panel-item-selected,.po-menu-panel-item-selected:hover{background-color:rgba(0,0,0,.3);color:#fff}
.po-modal-overlay{background-color:rgba(5,45,62,.7)}
.po-modal-content{background-color:#fff;border-radius:3px;-webkit-box-shadow:0 4px 16px 0 rgba(0,0,0,.3);box-shadow:0 4px 16px 0 rgba(0,0,0,.3)}
.po-modal-header{border:0}
.po-modal-title{color:#4a5c60}
.po-modal-header-close-button{border-radius:1px;color:#0c9abe}
.po-modal-body{color:#1d2426}
.po-modal-body::-webkit-scrollbar{border-radius:2px}
.po-modal-body::-webkit-scrollbar-thumb,.po-modal::-webkit-scrollbar-thumb{background-color:#0c9abe;border-radius:10px}
.po-modal-footer{background-color:#fff}
.po-navbar{background-color:#fff}
.po-navbar-shadow{-webkit-box-shadow:0 1px 4px 0 rgba(0,0,0,.3);box-shadow:0 1px 4px 0 rgba(0,0,0,.3)}
po-navbar .po-menu-mobile,po-navbar~.po-wrapper .po-menu-mobile{background-color:#fff}
.po-navbar-action-content{color:#0c9abe}
.po-navbar-action-popup-content{color:#0c9abe}
.po-navbar-item{color:#0c9abe}
.po-navbar-item-link,.po-navbar-item-link:hover{color:inherit}
.po-navbar-item-selected{-webkit-box-shadow:0 -4px 0 0 #0c9abe inset;box-shadow:inset 0 -4px 0 0 #0c9abe;color:#4a5c60}
.po-navbar-item-navigation-icon{color:#0c9abe}
.po-navbar-item-navigation-icon-disabled{color:#dadedf}
.po-page{background-color:#fbfbfb}
.po-modal-password-recovery-text{color:#4a5c60}
.po-modal-password-recovery-link{color:#0c9abe}
.po-modal-password-recovery-link:hover{color:#097b98}
.po-page-background-footer-select .po-select-button,.po-page-background-footer-select .po-select-container.po-select-show>.po-select-button,.po-page-background-footer-select .po-select:focus+.po-select-container .po-select-button{background-color:transparent;border:transparent}
.po-page-background-footer-select .po-select-content li:not(:last-child){border-bottom:1px solid #eceeee}
.po-page-blocked-user-wrapper{background-color:#fbfbfb}
.po-page-blocked-user-text{color:#4a5c60}
.po-page-blocked-user-link{color:#0c9abe}
.po-page-blocked-user-link:hover .po-page-blocked-user-contact-text{color:#097b98}
.po-page-blocked-user-header{font-family:NunitoSans-ExtraLight,sans-serif}
.po-page-change-password-forgot-password{color:#0c9abe}
.po-page-change-password-tips-text{color:#4a5c60}
.po-page-change-password-required-container .po-container{background-color:#fff}
.po-page-change-password-required-title{color:#4a5c60}
.po-page-change-password-required-ok{color:#00b28e}
.po-page-change-password-required-minus{color:rgba(0,0,0,.3)}
.po-page-change-password-required-text{color:rgba(5,45,62,.7)}
@media (max-width:540px){.po-page-change-password-buttons{background-color:#fbfbfb}
.po-page-change-password .po-page-background-secondary-logo{background-color:#fbfbfb}}
.po-page-content::-webkit-scrollbar-thumb{background-color:#0c9abe;border-radius:10px}
.po-page-header-title{font-family:NunitoSans-ExtraLight,sans-serif;color:#4a5c60}
.po-page-list-filter-search-link{color:#0c9abe}
.po-page-login-container{background-color:#fbfbfb}
.po-page-login-support{background-color:#fff;color:#0c9abe;border-color:transparent;border-radius:3px;-webkit-box-shadow:0 1px 4px 0 rgba(0,0,0,.3);box-shadow:0 1px 4px 0 rgba(0,0,0,.3)}
.po-page-login-header-product-name,.po-page-login-header-title{font-family:NunitoSans-ExtraLight,sans-serif}
.po-page-login-header-product-name{color:#4a5c60}
.po-page-login-header-welcome{color:#29b6c5}
.po-page-login-recovery-link a,.po-page-login-register-link a{color:#0c9abe}
.po-page-login-recovery-link a:focus,.po-page-login-recovery-link a:hover,.po-page-login-register-link a:focus,.po-page-login-register-link a:hover{color:#097b98}
.po-page-login-highlight-image{background-color:#eceeee}
.po-page-login-highlight-text .po-font-display{font-family:NunitoSans-ExtraLight,sans-serif;color:#fff}
.po-page-login-popover{background-color:#fff;border-radius:3px;-webkit-box-shadow:0 0 4px 0 rgba(0,0,0,.3);box-shadow:0 0 4px 0 rgba(0,0,0,.3)}
.po-page-login-popover-arrow{background-color:#fff;-webkit-box-shadow:-1px -1px 1px 0 rgba(0,0,0,.1);box-shadow:-1px -1px 1px 0 rgba(0,0,0,.1)}
.po-page-login-popover-title{color:#29b6c5}
.po-page-login-popover-attempts{color:#0c9abe}
.po-page-login-popover-link{color:#0c9abe}
.po-page-slide-overlay{background-color:rgba(5,45,62,.7)}
.po-page-slide.po-fade .po-page-slide-right{transition:transform .3s ease-out,-webkit-transform .3s ease-out}
.po-page-slide-content{background-color:#fbfbfb}
.po-page-slide-close-button{border:none;color:#0c9abe}
.po-page-slide-title{color:#4a5c60}
.po-page-slide-body{color:#1d2426}
.po-page-slide-body::-webkit-scrollbar-thumb{background-color:#0c9abe;border-radius:10px}
.po-popover{background-color:#fff;border-radius:3px;-webkit-box-shadow:0 0 4px 0 rgba(0,0,0,.3);box-shadow:0 0 4px 0 rgba(0,0,0,.3)}
.po-popover-arrow{background-color:#fff;-webkit-box-shadow:-1px -1px 1px 0 rgba(0,0,0,.1);box-shadow:-1px -1px 1px 0 rgba(0,0,0,.1)}
.po-popover-content::-webkit-scrollbar{border-radius:2px}
.po-popover-content::-webkit-scrollbar-thumb{background-color:#0c9abe}
.po-popover-title{color:#4a5c60}
.po-popup{background-color:#fff;border-radius:3px;-webkit-box-shadow:0 1px 4px 0 rgba(0,0,0,.3);box-shadow:0 1px 4px 0 rgba(0,0,0,.3)}
.po-popup-container::-webkit-scrollbar-thumb{background-color:#0c9abe;border-radius:10px}
.po-popup-arrow{background-color:#fff;-webkit-box-shadow:-1px -1px 1px 0 rgba(0,0,0,.1);box-shadow:-1px -1px 1px 0 rgba(0,0,0,.1)}
.po-popup-item-danger:hover,.po-popup-item-default:hover{background-color:#f3fafc}
.po-popup-item-danger{color:#c64840}
.po-popup-item-default{color:#0c9abe}
.po-popup-item-disabled{color:#dadedf}
.po-popup-item-separator{border-top:1px solid #eceeee}
.po-popup-item-disabled.po-popup-item-selected{background-color:#b6bdbf}
.po-popup-item-selected{background-color:#0c9abe;color:#fff}
.po-popup-arrow+.po-popup-item-selected{border-top-left-radius:3px;border-top-right-radius:3px}
.po-popup-item-selected:last-child{border-bottom-left-radius:3px;border-bottom-right-radius:3px}
.po-popup-item-selected:hover:not(.po-popup-item-disabled){background-color:#097b98}
.po-progress-info-icon-action{background-color:transparent;border:none;color:#0c9abe}
.po-progress-info-icon-action:focus{border-radius:1px;outline:2px dashed #0d729c}
.po-progress-description-text,.po-progress-info{color:#4a5c60}
.po-progress-success .po-progress-description-text,.po-progress-success .po-progress-info{color:#00b28e}
.po-progress-error .po-progress-description-text,.po-progress-error .po-progress-info{color:#c64840}
.po-progress-bar{background-color:#eaf7f9;border-radius:8px}
.po-progress-bar-element{transition:transform .25s ease,-webkit-transform .25s ease}
.po-progress-bar-element,.po-progress-bar-element:after{border-radius:4px}
@-webkit-keyframes po-progress-bar-primary-indeterminate-translate{20%{-webkit-animation-timing-function:cubic-bezier(.5,0,.70173,.49582);animation-timing-function:cubic-bezier(.5,0,.70173,.49582)}
60%{-webkit-animation-timing-function:cubic-bezier(.30244,.38135,.55,.95635);animation-timing-function:cubic-bezier(.30244,.38135,.55,.95635)}}
@keyframes po-progress-bar-primary-indeterminate-translate{20%{-webkit-animation-timing-function:cubic-bezier(.5,0,.70173,.49582);animation-timing-function:cubic-bezier(.5,0,.70173,.49582)}
60%{-webkit-animation-timing-function:cubic-bezier(.30244,.38135,.55,.95635);animation-timing-function:cubic-bezier(.30244,.38135,.55,.95635)}}
@-webkit-keyframes po-progress-bar-primary-indeterminate-scale{36.65%{-webkit-animation-timing-function:cubic-bezier(.33473,.12482,.78584,1);animation-timing-function:cubic-bezier(.33473,.12482,.78584,1)}
69.15%{-webkit-animation-timing-function:cubic-bezier(.06,.11,.6,1);animation-timing-function:cubic-bezier(.06,.11,.6,1)}}
@keyframes po-progress-bar-primary-indeterminate-scale{36.65%{-webkit-animation-timing-function:cubic-bezier(.33473,.12482,.78584,1);animation-timing-function:cubic-bezier(.33473,.12482,.78584,1)}
69.15%{-webkit-animation-timing-function:cubic-bezier(.06,.11,.6,1);animation-timing-function:cubic-bezier(.06,.11,.6,1)}}
@-webkit-keyframes po-progress-bar-secondary-indeterminate-translate{0%{-webkit-animation-timing-function:cubic-bezier(.15,0,.51506,.40969);animation-timing-function:cubic-bezier(.15,0,.51506,.40969)}
25%{-webkit-animation-timing-function:cubic-bezier(.31033,.28406,.8,.73371);animation-timing-function:cubic-bezier(.31033,.28406,.8,.73371)}
48%{-webkit-animation-timing-function:cubic-bezier(.4,.62704,.6,.90203);animation-timing-function:cubic-bezier(.4,.62704,.6,.90203)}}
@keyframes po-progress-bar-secondary-indeterminate-translate{0%{-webkit-animation-timing-function:cubic-bezier(.15,0,.51506,.40969);animation-timing-function:cubic-bezier(.15,0,.51506,.40969)}
25%{-webkit-animation-timing-function:cubic-bezier(.31033,.28406,.8,.73371);animation-timing-function:cubic-bezier(.31033,.28406,.8,.73371)}
48%{-webkit-animation-timing-function:cubic-bezier(.4,.62704,.6,.90203);animation-timing-function:cubic-bezier(.4,.62704,.6,.90203)}}
@-webkit-keyframes po-progress-bar-secondary-indeterminate-scale{0%{-webkit-animation-timing-function:cubic-bezier(.15,0,.51506,.40969);animation-timing-function:cubic-bezier(.15,0,.51506,.40969)}
19.15%{-webkit-animation-timing-function:cubic-bezier(.31033,.28406,.8,.73371);animation-timing-function:cubic-bezier(.31033,.28406,.8,.73371)}
44.15%{-webkit-animation-timing-function:cubic-bezier(.4,.62704,.6,.90203);animation-timing-function:cubic-bezier(.4,.62704,.6,.90203)}}
@keyframes po-progress-bar-secondary-indeterminate-scale{0%{-webkit-animation-timing-function:cubic-bezier(.15,0,.51506,.40969);animation-timing-function:cubic-bezier(.15,0,.51506,.40969)}
19.15%{-webkit-animation-timing-function:cubic-bezier(.31033,.28406,.8,.73371);animation-timing-function:cubic-bezier(.31033,.28406,.8,.73371)}
44.15%{-webkit-animation-timing-function:cubic-bezier(.4,.62704,.6,.90203);animation-timing-function:cubic-bezier(.4,.62704,.6,.90203)}}
.po-progress-default .po-progress-bar-element:after{background-color:#29b6c5}
.po-progress-success .po-progress-bar-element,.po-progress-success .po-progress-bar-element:after{background-color:#00b28e}
.po-progress-error .po-progress-bar-element,.po-progress-error .po-progress-bar-element:after{background-color:#c64840}
.po-slide-arrow-circle{background-color:#fff;border-radius:15px;-webkit-box-shadow:0 4px 8px 0 rgba(0,0,0,.15);box-shadow:0 4px 8px 0 rgba(0,0,0,.15)}
.po-slide-arrow{border-bottom:2.5px solid #0c9abe;border-radius:2px;border-right:2.5px solid #0c9abe}
.po-slide-arrow-previous{-webkit-transform:translate(-35%,-45%) rotate(-225deg);-ms-transform:translate(-35%,-45%) rotate(-225deg);transform:translate(-35%,-45%) rotate(-225deg)}
.po-slide-arrow-next{-webkit-transform:translate(-70%,-40%) rotate(-45deg);-ms-transform:translate(-70%,-40%) rotate(-45deg);transform:translate(-70%,-40%) rotate(-45deg)}
.po-slide-wrapper{border-radius:3px;-webkit-box-shadow:0 1px 4px 0 rgba(0,0,0,.3);box-shadow:0 1px 4px 0 rgba(0,0,0,.3)}
.po-slide-outer{border-radius:3px}
.po-slide-item-content::-webkit-scrollbar{border-radius:2px}
.po-slide-item-content::-webkit-scrollbar-thumb{background-color:rgba(12,154,190,.5);border-radius:2px}
.po-slide-circle{background-color:#dadedf;border-radius:50%}
.po-slide-active-circle{background-color:#0c9abe}
.po-stepper-circle{border:2px solid;border-radius:50%}
.po-stepper-circle-content{-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.po-stepper-step-default .po-stepper-circle,.po-stepper-step-default .po-stepper-label{border-color:#0c9abe;color:#0c9abe}
.po-stepper-step-disabled .po-stepper-circle,.po-stepper-step-disabled .po-stepper-label{border-color:#b6bdbf;color:#b6bdbf}
.po-stepper-step-error .po-stepper-circle,.po-stepper-step-error .po-stepper-label{border-color:#c64840;color:#c64840}
.po-stepper-step-bar-left,.po-stepper-step-bar-right{border-top:2px solid #4a5c60}
.po-stepper-step-bar-bottom,.po-stepper-step-bar-top{border-left:2px solid #4a5c60}
.po-stepper-circle-active{border-radius:50%;background:#0c9abe}
.po-stepper-step-error .po-stepper-circle-active{background:#c64840}
.po-stepper-step-disabled .po-stepper-step-bar-left,.po-stepper-step-disabled .po-stepper-step-bar-right{border-top:2px dashed #9da7a9}
.po-stepper-step-disabled .po-stepper-step-bar-bottom,.po-stepper-step-disabled .po-stepper-step-bar-top{border-left:2px dashed #9da7a9}
.po-stepper-step-dashed-border{border-top:2px dashed #9da7a9}
.po-stepper-step-dashed-border-vertical{border-left:2px dashed #9da7a9}
.po-table{background-color:#fff;border-collapse:collapse;border-spacing:0}
.po-table-overlay{background-color:rgba(5,45,62,.7);border-radius:3px}
.po-table-overlay-content{background-color:#fff;border-radius:3px;-webkit-box-shadow:0 1px 4px 0 rgba(0,0,0,.3);box-shadow:0 1px 4px 0 rgba(0,0,0,.3);-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.po-table .po-table-header{border-bottom:2px solid #ceeaf2;color:#0c9abe}
.po-table-header-fixed{border-bottom:2px solid #ceeaf2}
.po-table-header-fixed-inner{color:#0c9abe}
.po-table-striped .po-table-group-row:nth-child(odd){background-color:#fbfbfb}
.po-table .po-table-row-active{background-color:#f3fafc!important}
.po-table-column-detail{border-bottom:1px solid #eceeee}
.po-table .po-table-column{border-bottom:1px solid #eceeee;color:#1d2426}
.po-table .po-table-single-action{color:#0c9abe}
.po-table .po-table-single-action:hover{color:#097b98}
.po-table .po-table-action-disabled,.po-table .po-table-icon-disabled{color:#dadedf}
.po-table .po-table-action-disabled:hover,.po-table .po-table-icon-disabled:hover{color:#dadedf}
.po-table-column-actions{border-bottom:1px solid #eceeee;color:#0c9abe}
.po-table-column-icons{border-bottom:1px solid #eceeee;color:#0c9abe}
.po-table-footer{border-top:2px solid #ceeaf2}
.po-container .po-table-group-row:last-child .po-table-column,.po-container .po-table-group-row:last-child .po-table-column-actions,.po-container .po-table-group-row:last-child .po-table-column-detail-toggle,.po-container .po-table-group-row:last-child .po-table-column-icons{border-bottom:none}
.po-container .po-table-group-row:last-child .po-table-row+tr:not(.po-table-row) .po-table-column-detail{border-bottom:none;border-top:1px solid #eceeee}
.po-table-footer-show-subtitle{background-color:#fff;border-left:1px solid #eceeee}
.po-table-show-subtitle{color:#0c9abe}
.po-table-column-label,.po-table-subtitle-circle{color:#fff}
.po-table-subtitle-circle{border-radius:14px}
.po-table-column-label{border-radius:3px;color:#fff}
.po-table .po-table-radio{background-color:transparent}
.po-table-column-selectable .po-table-radio+.po-table-radio-label:before{background-color:#fff;border:1px solid #b6bdbf;border-radius:50%;-webkit-box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1);box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1)}
.po-table-column-selectable .po-table-radio:focus+.po-table-radio-label:before{border:1px solid #097b98!important}
.po-table-column-selectable .po-table-radio-checked+.po-table-radio-label:before{background-color:#0c9abe;border:1px solid #0c9abe;color:#fff}
.po-table .po-table-checkbox{border:1px solid #b6bdbf;border-radius:2px;-webkit-box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1);box-shadow:inset 0 1px 8px 0 rgba(0,0,0,.1)}
.po-table-column-selectable .po-table-checkbox+.po-table-checkbox-label:before{border:1px solid #b6bdbf;border-radius:2px;-webkit-box-shadow:inset 0 2px 8px 0 rgba(0,0,0,.15);box-shadow:inset 0 2px 8px 0 rgba(0,0,0,.15)}
.po-table-checkbox-indeterminate+.po-table-checkbox-label:before,.po-table-column-selectable .po-table-checkbox-checked+.po-table-checkbox-label:before{background-color:#0c9abe;border:1px solid #0c9abe!important;color:#fff}
.po-table-master-detail{background-color:#fff;border-spacing:inherit}
.po-table-detail-row{color:#9da7a9}
.po-table-striped .po-table-master-detail .po-table-detail-row:nth-child(2n){background-color:#fbfbfb}
.po-table-master-detail .po-table-detail-row:last-child .po-table-column-master-detail,.po-table-master-detail .po-table-detail-row:last-child .po-table-column-master-detail-space,.po-table-master-detail .po-table-detail-row:last-child .po-table-column-master-detail-space-checkbox,.po-table-master-detail .po-table-detail-row:last-child .po-table-column.po-table-column-selectable{border-bottom:none}
.po-table-column-master-detail-space,.po-table-column-master-detail-space-checkbox{border-bottom:1px solid #eceeee}
.po-table-column-detail-toggle{border-bottom:1px solid #eceeee}
.po-table-column-master-detail{border-bottom:1px solid #eceeee}
.po-table-column-detail-toggle .po-icon-arrow-down,.po-table-column-detail-toggle .po-icon-arrow-up{color:#0c9abe}
.po-table-container-fixed-inner::-webkit-scrollbar,.po-table-main-container::-webkit-scrollbar{border-radius:2px}
.po-table-container-fixed-inner::-webkit-scrollbar-thumb,.po-table-main-container::-webkit-scrollbar-thumb{background-color:#0c9abe}
.po-table-header-column-manager-button{color:#0c9abe}
.po-table-header-column-manager-button:focus{border-radius:1px;outline:2px dashed #0d729c}
.po-table-header-column-manager-border{border-left:1px solid #eceeee}
.po-table-header-column-manager-button{background-color:transparent;border:none}
@media print{.po-table-column-label,.po-table-subtitle-circle{-webkit-print-color-adjust:exact;color-adjust:exact}}
.po-table-link,.po-table-link:link,.po-table-link:visited{color:#0c9abe}
.po-table-link:hover{color:#097b98}
.po-table-link:active{color:#075c72}
.po-table-link-disabled{color:#dadedf}
.po-table-link-disabled:hover{color:#dadedf}
.po-table-column-manager-header{border-bottom:1px solid #eceeee}
.po-table-column-manager-header-title{color:#1d2426}
.po-table-column-manager-header-close-button{background-color:transparent;border:none;color:#0c9abe}
.po-table-column-manager-header-close-button:focus{border-radius:1px;outline:2px dashed #0d729c}
.po-table-column-manager-body::-webkit-scrollbar-thumb{background-color:#0c9abe;border-radius:2px}
.po-table-column-manager-footer{border-top:1px solid #eceeee}
.po-table-column-manager-footer-restore{-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.po-table-column-manager-footer-restore .po-button:focus{border-radius:1px;outline:2px dashed #0d729c}
.po-tab-dropdown-button:hover{background-color:#f3fafc}
.po-tab-dropdown-button-active{background-color:#0c9abe;color:#fff}
.po-tab-dropdown-button .po-tab-button-active:hover{background-color:#0c9abe}
.po-tab-dropdown-button .po-tab-button-disabled:hover{background-color:#fff}
.po-tab-dropdown-container-sm::-webkit-scrollbar-thumb,.po-tab-dropdown-container::-webkit-scrollbar-thumb{background-color:#0c9abe}
.po-tab-dropdown-container-sm::-webkit-scrollbar,.po-tab-dropdown-container::-webkit-scrollbar{border-radius:2px}
.po-tab-button{-webkit-box-shadow:inset 0 -1px 0 0 #eceeee;box-shadow:inset 0 -1px 0 0 #eceeee;color:#0c9abe}
.po-tab-button-disabled{color:#b6bdbf}
.po-tab-button-active{-webkit-box-shadow:inset 0 -3px 0 0 #29b6c5;box-shadow:inset 0 -3px 0 0 #29b6c5}
.po-tag{border:none;border-radius:3px;color:#fff}
.po-tag-inverse{background-color:#fff}
.po-tag:focus:before{border-radius:1px;border:2px dashed #0d729c;-webkit-box-sizing:border-box;box-sizing:border-box}
.po-tag-label{color:#4a5c60}
.po-tag-danger{background-color:#c64840}
.po-tag-danger-inverse{background-color:#fff;border:1px solid #c64840;color:#c64840}
.po-tag-info{background-color:#4a5c60}
.po-tag-info-inverse{background-color:#fff;border:1px solid #4a5c60;color:#4a5c60}
.po-tag-success{background-color:#00b28e}
.po-tag-success-inverse{background-color:#fff;border:1px solid #00b28e;color:#00b28e}
.po-tag-warning{background-color:#ea9b3e}
.po-tag-warning-inverse{background-color:#fff;border:1px solid #ea9b3e;color:#ea9b3e}
.po-tag-inverse.po-text-color-01{border:1px solid #0c9abe}
.po-tag-inverse.po-text-color-02{border:1px solid #2c85c8}
.po-tag-inverse.po-text-color-03{border:1px solid #2c43c8}
.po-tag-inverse.po-text-color-04{border:1px solid #5843c8}
.po-tag-inverse.po-text-color-05{border:1px solid #ab43c8}
.po-tag-inverse.po-text-color-06{border:1px solid #ab4391}
.po-tag-inverse.po-text-color-07{border:1px solid #c64840}
.po-tag-inverse.po-text-color-08{border:1px solid #ea9b3e}
.po-tag-inverse.po-text-color-09{border:1px solid #abc249}
.po-tag-inverse.po-text-color-10{border:1px solid #56b96b}
.po-tag-inverse.po-text-color-11{border:1px solid #00b28e}
.po-tag-inverse.po-text-color-12{border:1px solid #06a6a5}
@media print{.po-tag{-webkit-print-color-adjust:exact;color-adjust:exact}}
.po-toolbar{background-color:#fbfbfb}
.po-toolbar-title{color:#29b6c5}
.po-toolbar-icon{color:#0c9abe}
.po-toolbar-notification-badge{background-color:#c64840;border-radius:3px;color:#fff}
.po-toolbar-profile-item-header{border-bottom:1px solid #eceeee}
.po-toolbar-profile-item-header-subtitle,.po-toolbar-profile-item-header-title{color:#0c9abe}
.po-tooltip{border-radius:3px;-webkit-box-shadow:0 4px 8px 0 rgba(0,0,0,.15);box-shadow:0 4px 8px 0 rgba(0,0,0,.15)}
.po-tooltip,.po-tooltip-arrow{background-color:#4a5c60}
.po-tooltip-content{color:#fff}
.po-tree-view-item{border-bottom:1px solid #eceeee}
.po-tree-view-item .po-tree-view-item{border-bottom:none}
.po-tree-view-item-header-button{background-color:transparent;border:none;color:#0c9abe}
.po-tree-view-item-header-button::-moz-focus-inner{border:0}
.po-tree-view-item-header-button:focus{border-radius:1px;outline:2px dashed #0d729c}
.po-tree-view-item-header-button-icon{-webkit-transition:-webkit-transform .3s cubic-bezier(.07,.88,.58,.92);transition:-webkit-transform .3s cubic-bezier(.07,.88,.58,.92);-o-transition:transform .3s cubic-bezier(.07,.88,.58,.92);transition:transform .3s cubic-bezier(.07,.88,.58,.92);transition:transform .3s cubic-bezier(.07,.88,.58,.92),-webkit-transform .3s cubic-bezier(.07,.88,.58,.92)}
.po-tree-view-item-header-checkbox,.po-tree-view-item-header-label{color:#4a5c60}
.po-upload-drag-drop-area{border-radius:1px;border:2px dashed #b6bdbf}
.po-upload-drag-drop-area-icon{color:#dadedf}
.po-upload-drag-drop-area-select-files{border:none;color:#0c9abe}
.po-upload-drag-drop-area-label{color:#4a5c60}
.po-upload-drag-drop-area-disabled{background-color:#eceeee;color:#b6bdbf}
.po-upload-drag-drop-area-disabled .po-upload-drag-drop-area-label,.po-upload-drag-drop-area-disabled .po-upload-drag-drop-area-select-files{color:#b6bdbf}
.po-upload-drag-drop-area-overlay-icon{color:rgba(12,154,190,.5)}
.po-upload-drag-drop-area-overlay-label{color:#0c9abe}
po-upload.ng-invalid.ng-dirty .po-upload-drag-drop-area{border:2px dashed #c64840}
.po-upload-drag-drop-area-overlay{background-color:#fff}
.po-upload-drag-drop-area-overlay .po-upload-drag-drop-area{border-color:#0c9abe!important}
.po-upload-file-restrictions{color:#4a5c60}
.po-widget,.po-widget-primary{border-radius:3px;-webkit-box-shadow:0 1px 4px 0 rgba(0,0,0,.3);box-shadow:0 1px 4px 0 rgba(0,0,0,.3)}
.po-widget{background-color:#fff}
.po-widget-primary{background-color:#29b6c5}
.po-widget-no-shadow{border:1px solid #eceeee}
.po-widget-body,.po-widget-header{color:#4a5c60}
.po-widget-primary .po-widget-action,.po-widget-primary .po-widget-body,.po-widget-primary .po-widget-header{color:#fff}
.po-widget .po-widget-title-action{color:#0c9abe}
.po-widget .po-widget-footer{border-top:1px solid #eceeee}
.po-widget-primary .po-widget-footer{border-top:1px solid hsla(0,0%,100%,.3)}
.po-widget .po-widget-action{color:#0c9abe}
.po-widget .po-widget-action:active,.po-widget .po-widget-action:hover{color:#097b98}
.po-widget-disabled,.po-widget-disabled .po-clickable,.po-widget-disabled .po-widget-action,.po-widget-disabled .po-widget-action:hover,.po-widget-disabled .po-widget-body,.po-widget-disabled .po-widget-header,.po-widget-disabled .po-widget-primary,.po-widget-disabled .po-widget-title-action{background-color:#eceeee;color:#9da7a9}
.po-widget-disabled .po-container::-webkit-scrollbar-thumb{background-color:#9da7a9}
.po-toaster-success{background-color:#00b28e}
.po-toaster-info{background-color:#4a5c60}
.po-toaster-warning{background-color:#ea9b3e}
.po-toaster-error{background-color:#c64840}
.po-toaster{-webkit-box-shadow:0 -4px 8px 0 rgba(0,0,0,.15);box-shadow:0 -4px 8px 0 rgba(0,0,0,.15);color:#fff;border-radius:3px}
.po-toaster-bottom{-webkit-box-shadow:0 4px 8px 0 rgba(0,0,0,.15);box-shadow:0 4px 8px 0 rgba(0,0,0,.15)}
.po-toaster-close{border:0;color:#fff}
.po-toaster{-webkit-transition-property:opacity,bottom,top;-o-transition-property:opacity,bottom,top;transition-property:opacity,bottom,top}

